/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.item_comment {

 }

.item_comments_wrapper {
  width: 646px;
  padding: 20px;
  border-top: 1px solid #e9e9e9;
}

 .item_image {
  width: 100%;
  height: 600px;
 }

 .item_body_wrapper {
  padding: 2%;
 }

 .item_image_wrapper {
  padding: 2%;
  background-color: #f6f6f6;
  border: 1px solid #bfbfbf;
 }

.item_header_button {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.item_title {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.item_wrapper {
  background-color: #d4e1e7;
  padding-top: 2%;
}

.item_project {
  width: 55%;
  margin: auto;
  border-radius: 9px;
  background-color: #fff;
  border: 1px solid rgba(119,130,135,.4);
}

.item_header {
  background: #f6f6f6;
  border-bottom: 1px solid rgba(0,0,0,.1);
  -webkit-border-radius: 9px 9px 0 0;
}

.item_header_left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/*.item_header h1 h3 {
  margin: 0 !important;
}*/

.slideItem {
  width: 100%;
}

.carousel {
  height: 650px;
  overflow-y: hidden;
}

header {
  width: 100%;
  min-height: 99px;
  color: #333;
}

.top_header {
 display: flex;
 background-color: #eeeeee;
 justify-content: space-around;
 flex-direction: row;
 align-content: center;
 height: 61px;
}

.header_link {
  background-color: transparent;
  border-color: #dedede;
  color: #333;
  padding: 6px 12px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 4px;
  align-content:  center;
 }

.projects_index {
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
}

.projects_index_wrapper {
  background: #f6f6f6;
  border-bottom: 1px solid #bec6d1;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.project_info {
  background: #fff;
  padding: 10px 13px;
  margin-bottom: 10px;
  height: 50px;
  /*overflow: hidden;*/
}

.project_item_title {
  text-decoration: none;
  cursor: pointer;
  color: #333;
  width: 100%;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
}
.project_item {
  margin: 12px;
  background: #fff;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.10);
}
.project_item_author {
  background: #fff;
  /*padding: 10px 13px;
  margin-bottom: 10px;*/
  /*height: 50px;*/
  margin: 0;
  color: #999;
  line-height: 20px;
}
.project_item_image {
 width: 324px;
 height: 270px;
}

.featured_projects {
  text-decoration: none;
  color: #333;
  line-height: 40px;
  display: block;
  margin-left: 12px;
  font-size: 18px;
  padding: 0;
  margin-left: 5%;
}
