/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*@font-face {
    font-family: 'complete_in_himregular';
    src: url('/assets/complete_in_him-webfont.woff2') format('woff2'),
      url('/assets/complete_in_him-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }*/

 .logo {
  margin-top: 40px;
  cursor: pointer;
  margin-right: 6%;
 }

 .navbar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
 }

 .searchLabel {
  font-family: 'complete_in_himregular';
  font-size: 20px;
  font-weight: normal;
  padding-right: 10px;
  margin-top: 10px;
  min-width: 80px;
 }

 .noVideoPlayer {
  display: none;
 }

.item_comment {
  margin: 3px 0 10px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 }

.item_comment_author {
  font-weight: 700;
  color: #e86c00;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.item_comments_wrapper {
  width: 646px;
  padding: 20px;
  border-top: 1px solid #e9e9e9;
  background: linear-gradient(180deg, #F6F6F6, white);
  margin: 5%;
}

 .item_image {
  width: 100%;
  height: 600px;
 }

 .item_body_wrapper {
  padding: 2%;
 }

 .item_image_wrapper {
  padding: 2%;
  background-color: #f6f6f6;
  border: 1px solid #bfbfbf;
 }

.item_header_button {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.item_title {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.item_wrapper {
  background-color: #d4e1e7;
  padding-top: 2%;
}

.item_project {
  width: 55%;
  margin: auto;
  border-radius: 9px;
  background-color: #fff;
  border: 1px solid rgba(119,130,135,.4);
  min-height: 500px;
  font-size: 17px;
}

.item_header {
  background: #f6f6f6;
  border-bottom: 1px solid rgba(0,0,0,.1);
  -webkit-border-radius: 9px 9px 0 0;
}

.item_header_left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


/*.item_header h1 h3 {
  margin: 0 !important;
}*/

.slideItem {
  width: 100%;
}

.searched .carousel {
  max-height: 0;
  transition: max-height 1.30s ease-out;
}

.carousel {
  max-height: 650px;
  overflow-y: hidden;
}

.carousel_input {
  background: transparent;
  border: 0;
}

.carousel-caption {
    top:200px;
}

.carousel-caption h3 {
  font-family: 'complete_in_himregular';
  font-size: 100px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 4px;
}

.title_input_text {
  font-size: 70px !important;
  font-family: 'helvetica' !important;
  vertical-align: middle;
}

.title_search_bar {
  margin-left: 20px;
  margin-top: 20px;
  height: 80px;
}

.title_search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title_input_text {
  background-image: url(http://res.cloudinary.com/doilr7vvv/image/upload/v1467928203/makeitsearch-bg_ofeog6.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  width: 600px;
  text-align: left;
  margin-left: 50px;
}

header {
  width: 100%;
  min-height: 99px;
  color: #333;
}

.top_header {
 display: flex;
 background-color: #eeeeee;
 justify-content: space-around;
 flex-direction: row;
 align-content: center;
 height: 61px;
}

.top_header_left {
 display: flex;
 justify-content: space-around;
 flex-direction: row;
 align-items: center;
 padding-right: 24%;
}

.top_header_right {
 display: flex;
 justify-content: space-around;
 flex-direction: row;
 align-items: center;
}

.top_header_right h5 {
 margin-right: 10px;
}

.header_link {
  background-color: transparent;
  color: #333;
  padding: 6px 12px;
  border: 1px solid #dedede;
  border-radius: 4px;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
 }

.projects_index {
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  min-height: 800px;
}

.projects_index_wrapper {
  background: #f6f6f6;
  border-bottom: 1px solid #bec6d1;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.project_info {
  background: #fff;
  padding: 10px 13px;
  margin-bottom: 10px;
  height: 50px;
  /*overflow: hidden;*/
}

.project_item_title {
  text-decoration: none;
  cursor: pointer;
  color: #333;
  width: 100%;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
}
.project_item {
  margin: 12px;
  background: #fff;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.10);
  height: 100%;
}
.project_item_author {
  background: #fff;
  /*padding: 10px 13px;
  margin-bottom: 10px;*/
  /*height: 50px;*/
  margin: 0;
  color: #999;
  line-height: 20px;
}
.project_item_image {
 width: 324px;
 height: 270px;
 cursor:pointer;
}

.featured_projects {
  text-decoration: none;
  color: #333;
  line-height: 40px;
  display: block;
  margin-left: 12px;
  font-size: 18px;
  padding: 0;
  margin-left: 5%;
}

.item_body {
  white-space: pre-line;
  margin: 20px;
  /*height: auto;*/
  font-size: 17px;
}

.comment_textarea {
  min-height: 105px;
  max-height: 600px;
  border-radius: 4px;
  padding: 10px;
}

.comment_wrapper {
  padding: 5px;
  background: #f6f6f6;
  border: 1px solid #e0e0e0;
  width: 60%;
}

.comment_submit_button {
  background-color: #e86c00 !important;
  border-color: #cf6000 !important;
  color: #fff !important;
  margin: 2%;
  margin-left: 88%;
  background-image: url() !important;
}

.project_form_title {
  margin: 5%;
  width: 50% !important;
}
.project_form_body {
  margin: 5%;
  width: 90% !important;
}

.form-control {
  font-size: 17px !important;
}

.project_form_body_input {
  min-height: 400px;
}

.image_preview {
  width: 171px;
  height: 180px;
  margin: 5%;
  border: 1px solid #bfbfbf;
}

.form_image_upload {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image_upload_button {
  margin: 5%;
}

.upload_video_button {
  margin: 5%;
}

.form_submit_button {
  margin: 5%;
  display: block !important;
}

.carousel-control.left {
    opacity: 0;
}

.carousel-control.right {
  opacity: 0;
}

.error_label {
  display: block;
  color:red;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
}

#disappear {
  display: none;
}

.no_results {
  display: flex;
  width: 18%;
  align-items: baseline;
}

.no_results_text {
  margin: 5%;
}

footer {
  height: 247px;
  padding-top: 30px;
  background: #404040;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
}

footer img {
  margin: 47px;
}

#star {
  color: orange;
}

.search_bar {
  margin-top: 16px !important;
  width: 163px !important;
}

.comment_form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
